; [submodule "themes/hugo-theme-stack"]
;     path = themes//hugo-theme-stack
;     url = https://github.com/CaiJimmy/hugo-theme-stack

[submodule "public"]
    path = public
    url = https://github.com/AmirSahrani/website_source

[submodule "public/themes/hugo-theme-stack"]
    path = public//themes//hugo-theme-stack
    url = https://github.com/CaiJimmy/hugo-theme-stack
